*{
    color: rgba(30, 30, 30, 1);
    background-color: aliceblue;
}

header {
    background-color: antiquewhite;

    border-color: wheat;
}

header * {
    color: darksalmon;
    background-color: antiquewhite;
}

figcaption {
    color: rgba(30, 30, 30, 1);
}

a:link {
    /*Not visited*/
    color: darkblue;
}

a:visited {
    /*Visited*/
    color: darkblue;
}