* {
    line-height: 1.5em;

    margin: 15px auto 0px auto;
}

body {
    width: 50%;
    margin: 0px auto 0px auto;
}

header {
    padding: 10px 10px 3px 10px; /*top right bottom left*/
    margin: 0px 0px 30px 0px;

    width: 50%;
    min-width: 400px;

    border-style: solid;
    border-width: 5px;

    border-radius: 8px;

    position: fixed;
    top: 0px;
}

article {
    margin-top: 400px;
}

/*https://www.w3schools.com/css/css_boxmodel.asp*/

header * {
    text-align: right;
}

#profile-pic {
    /*border-top-left-radius: 80px; Also a good option*/

    /*Making a circle*/
    padding: 0px;
    border-radius: 200px;
    width: 200px;
    height: 200px;
}

nav {
    text-align: center;
    width: 125%;
}
nav>ul * {
    display: inline;
    margin-right: 10px;
}

li {
    /*list-style-type: square;
    list-style-position: inside;*/
    list-style: inside square;
}

/*Tables*/

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

th {
    /*Headers*/
    border: 1px solid rgba(30, 30, 30, 1);
}

td {
    /*Cells*/
    border: 3px solid rgba(30, 30, 30, 1);
}


header, section, footer, aside, nav, article, figure, figcaption { 
    display: block
}
